body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(185, 185, 146);
  }
  .card {
    background: rgb(46, 147, 149);
    border: 3px solid #192925;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
  }
  .card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .card p {
    font-size: 16px;
    color: #513393;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #ff0077;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #0056b3;
  }
  button:active {
    background-color: #4d78a4;
  }
  @media (max-width: 400px) {
    .card {
      width: 90%;
    }
  }